<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link to vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
    <div id="app">
        
        <h1>Lista Email</h1>

        <button @click="generateEmail">Genera Lista Email</button>
        
        <div v-if="emailList.length === 10">
            <ul>
                <li v-for="email in emailList">{{ email }}</li>
            </ul>
        </div>
        
    </div>
    
    <!-- link to axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- link to script -->
    <script src="js/script.js"></script>
    
</body>
</html>